/* Basics */
$bg-color: #FAFAFA;
$contrast: #ef3b24;
$font-color: #323232;
$page-width: 1048px;

/* Spacing */
$space: 6px;
$xs: ($space / 2);
$s: $space;
$m: ($s * 2);
$l: ($m * 2);
$xl:  ($l * 2);
$xxl:  ($xl * 2);